Source: ros-indigo-slam-karto
Section: misc
Priority: extra
Maintainer: Michael Ferguson <fergs@unboundedrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-message-filters, ros-indigo-nav-msgs, ros-indigo-open-karto, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-sparse-bundle-adjustment, ros-indigo-tf, ros-indigo-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-slam-karto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-indigo-message-filters, ros-indigo-nav-msgs, ros-indigo-open-karto, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-sparse-bundle-adjustment, ros-indigo-tf, ros-indigo-visualization-msgs
Description: This package pulls in the Karto mapping library, and provides a ROS wrapper for using it.
