Source: ros-jade-slam-karto
Section: misc
Priority: extra
Maintainer: Michael Ferguson <mferguson@fetchrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-jade-catkin, ros-jade-cmake-modules, ros-jade-message-filters, ros-jade-nav-msgs, ros-jade-open-karto, ros-jade-rosconsole, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-sparse-bundle-adjustment, ros-jade-tf, ros-jade-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-slam-karto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-jade-message-filters, ros-jade-nav-msgs, ros-jade-open-karto, ros-jade-rosconsole, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-sparse-bundle-adjustment, ros-jade-tf, ros-jade-visualization-msgs
Description: This package pulls in the Karto mapping library, and provides a ROS wrapper for using it.
